<div class="p-8">
{{ partial "heading" . }}
{{ partial "before" . }}

<div class="grow flex flex-row items-center gap-8 justify-center py-12">
   {{ if eq .side "left" }}
      <div class="h-full p-6 text-center basis-2 grow">{{ .body | markdownify }}</div>
      <div class="h-full p-6 text-center basis-1 grow">Right</div>
   {{ else }}
      <div class="h-full p-6 text-center basis-1 grow">Left</div>
      <div class="h-full p-6 text-center basis-2 grow">{{ .body | markdownify }}</div>
   {{ end }}
</div>

{{ partial "after" . }}

</div>