{{ define "main" }}
{{ $datatype := cond .IsHome "home" .Section }}
{{ $data := (index .Site.Data $datatype) }}

{{ with $data }}

<div class="h-screen max-h-screen snap-y snap-mandatory overflow-y-scroll">
    {{ range .sections }}
    {{ $sectionstyle := printf "sections/%s" .style }}
    {{ $bgColour := default "regular" .background }}
    <div class="section h-full snap-center">
        <div class="background-wrapper colour-{{ $bgColour }}">
            {{ if and (isset . "blob") (ne .blob "none") }}
            <div class="blob blob-{{ .blob }}">
                <img src="/images/colour_blob.jpg" />
            </div>
            {{ end }}
        </div>
        <div class="p-8">
            {{ partial $sectionstyle . }}
        </div>
    </div>
    {{end}}
</div>

{{ end }}
{{ end }}
